# --- Python (FastAPI) ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv
venv/
ENV/
env/
build/
dist/

# --- Node.js (React) ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/build
/dist
.eslintcache

# --- enviroment ---
.env
.env.test
.env.local
.env.*.local
!.env.example


docker_postgres_data/
*.db
*.sqlite3


.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# --- Tests ---
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover