services:
  db:
    image: postgres:16
    container_name: authbrickDB
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5556:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
